#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!terraform.environment.example.tfvars

# node_modules
**/node_modules/

# 
graphql-server/dist.zip